<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd


        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- JSR-303/JSR-349 support will be detected on classpath and enabled automatically -->
    <!--<mvc:annotation-driven/>-->
    <!-- 2016-1-4 19:01:36 由于公司用的resin4在lib目录下的hibernate-validator版本较低，内部引用的slf4j版本和util的版本不一致，所以会报错 -->
    <!-- 考虑到resin4的yum源是公司统一定制的，所以不能随便改，只能参考spring文档，把除了validator之外的东西都分别引用进来 -->

    <context:component-scan base-package="web.controller"/>
    <!-- MVC XML Namespace的默认配置参考：http://docs.spring.io/spring/docs/current/spring-framework-reference/html/mvc.html#mvc-config-enable-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter ">
                    <constructor-arg value="UTF-8" index="0"></constructor-arg><!-- 避免中文出现乱码 -->
                </bean>
                <bean class="org.springframework.http.converter.ResourceHttpMessageConverter "/>
                <bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter "/>
                <bean class="org.springframework.http.converter.FormHttpMessageConverter "/>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter "/>
                <!-- 下面这几个Converter在spring的默认机制里是根据classpath的内容，动态识别加载的，所以这里不能写死 -->
                <!--<bean class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter "/>-->
                <!--<bean class="org.springframework.http.converter.xml.MappingJackson2XmlHttpMessageConverter "/>-->
                <!--<bean class="org.springframework.http.converter.feed.AtomFeedHttpMessageConverter "/>-->
                <!--<bean class="org.springframework.http.converter.feed.RssChannelHttpMessageConverter"/>-->
            </list>
        </property>
    </bean>
    <!-- 2016-1-4 19:04:15 异常处理参考：http://docs.spring.io/spring/docs/current/spring-framework-reference/htmlsingle/#mvc-exceptionhandlers -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver"/>
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean"/>

    <!-- 2016-1-4 19:06:30 推荐配置（出于安全考虑），隐藏jsp，避免直接访问 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
    </bean>

    <mvc:resources mapping="/h5/html/**" location="/h5/html/"/>
    <mvc:resources mapping="/h5/images/**" location="h5/images/"/>
    <mvc:resources mapping="/h5/css/**" location="/h5/css/"/>
    <mvc:resources mapping="/h5/js/**" location="h5/js/"/>
</beans>